@import "./node_modules/bootstrap/scss/bootstrap";

$primary-color: #22A7F0;

body {
  background: #f8f8f8;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.body-authentication {
  .info {
    margin: 50px auto;
    text-align: center;

    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;}
  }

  .form-container {
    border-radius: 6px;
    position: relative;
    z-index: 1;
    background: white;
    max-width: 350px;
    margin: 0 auto 20px;
    padding: 30px;
    border: 1px solid darken(#F5F5F5, 5%);

    .message {
      margin: 15px 0 0;
      color: darken(white, 30%);
      font-size: 12px;
      text-align: center;
      a {
        text-decoration: none;}
    }

    .separation {
      width:100%;
      text-align:center;
      border-bottom: 1px solid darken(white, 30%);
      line-height:0.1em;
      margin:30px 0;
      span { background:#fff; padding:0 10px; }
    }

  }

}

// navigator

$navbar-width: 244px;

#page {
  box-sizing: border-box;
  display: flex;
}

#na {
  position: fixed;
  display: flex;
  height: 100%;
  width: $navbar-width;

  #navigator {
    color: white;
    padding: 24px;
    background: $blue;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 600px) {
      position: static;
      background: $red;
      width: 100px;
      float: none;
      display: none;
    }

    .title {
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 0px;
    }

    .small {
      color: darken($white, 10%);
      margin-bottom: 20px;
    }

    // options
    nav {
      a {
	color: white;
	padding: 8px 20px;
	display: block;
	border-radius: 3px;

	i {
          padding-right: 10px;
	}

	&.active {
          background-color: darken($blue, 4%);
	}

	&:hover {
          background-color: darken($blue, 8%);
          text-decoration: none;
	}

	&:focus {
          text-decoration: none;
	}
      }

    }
  }

}


#content {
  margin-left: $navbar-width;
  // padding:1px 16px;height:1000px;
  // position: relative;
  padding: 15px;
  width: 100%;

  .container {
    width: auto;

  }


  @media screen and (max-width: 600px) {
    margin-left: 0px;
    padding: 0px;
    padding-top: 15px;
  }
}

span {
  &.separation {
    margin: 0px 10px
  }
}

p {
  &.info {
    font-size: 12px;
    color: #ccc;
  }
}

.pads {
  .item {
    float:left;
    position: relative;
    width: 30%;
    height: 175px;
    padding: 20px;
    margin-right: 1.6%;
    margin-bottom: 1.6%;
    background-color: $white;
    border: 1px solid darken(#F5F5F5, 5%);
    overflow:hidden;

    @media screen and (max-width: 600px) {
      float: none;
      width: auto;
      margin-right: 0;
      margin-bottom: 15px;
    }
    
    .btn-group {
      position: absolute;
      right: 10px;
      bottom: 10px;
      display: none;
    }

    &:hover {
      background: darken($white, 5%);
      .btn-group {
        display: block;
      }
    }
  }
}

.form-conf {
  width: 350px;
  margin: auto;
  margin-bottom: 50px;
  

  // h1, h2, h3 {
  //   margin: 0.6em 0;
  // }

  // form {
  //   width: 350px;
  //   margin: auto;
  // }
}

#btn-group {
  float: right;
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    float: none;
  }
}

.status {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 45px;
  margin: 6px auto;

  &.running {
    background: $green;
  }

  &.stopped {
    background: $red;
  }
}
