extends layout

block title
  title Etherpad ESPE · Configuraciones

block content
  .container(ng-app="config" ng-controller="main" ng-init="init()")
    h1 Configuraciones

    form.form-conf(ng-submit="submitInfo()")
      .form-group
        label Nombre del pad
        input.form-control(required placeholder="Nombre del Etherpad"
        ng-model="user.etherpad.name")

      .form-group(ng-class="v.user.class")
        label.form-control-label Usuario
        input.form-control(type="text" ng-model="user.username" required
        placeholder="Nombre de usuario" ng-change="v.user.change()")
        .form-control-feedback(
          ng-show="v.user.class === \"has-danger\"").
          Ese usuario ya ha sido registrado
      .form-group
        label Nombre
        input.form-control(required placeholder="Nombre Completo"
        ng-model="user.name")
      .form-group
        label Correo
        input.form-control(required type="email" ng-model="user.email"
        placeholder="Correo electrónico")
      button.btn.btn-primary.btn-block Guardar

    h2 Actualizar contraseña

    form.form-conf(ng-submit="submitPassword()")
      .form-group
        label Contraseña antigua
        input.form-control(required type="password"
        ng-model="duser.oldPassword" placeholder="Contraseña antigua")
      .form-group(ng-class='v.password.class')
        label Nueva contraseña
        input.form-control(required type="password"
        ng-change='v.password.change()' ng-model="duser.password"
        placeholder="Nueva contraseña")
      .form-group(ng-class='v.password.class')
        label Repetir nueva contraseña
        input.form-control(required type="password"
        ng-change='v.password.change()' ng-model="duser.passwordRepeat"
        placeholder="Repetir nueva contraseña")
        .form-control-feedback(
          ng-show='v.password.class === \"has-danger\"').
          Las contraseñas no coinciden
      button.btn.btn-danger.btn-block Cambiar contraseña

    h2 Servidor
    .text-center
      p {{ status.text }}
      button.btn(ng-init=`statusServidor(${config.running})`
        ng-disabled="status.disabledBtn"
        ng-click="startServer()"
        ng-class="status.class") {{ status.textBtn }}


block scripts
  script(src="/public/javascripts/config.js")
