extends layout

block title
  title Etherpad ESPE · Pads

  - statusDocker = 'stopped'
  if config.running
    - statusDocker = 'running'
    

block content
  .container(ng-app="pads" ng-controller="main" ng-init="init()")
    h1.
      #{user.etherpad.name}
        #[span(class=`status ${statusDocker}`)]
    p.info.
      #[i.fa.fa-clock-o] Creada en
      {{ "#{user.etherpad.creation}" | date:"medium" }} #[span.separation]
      #[i.fa.fa-link] Acceso mediante  http://#{config.host}:#{user.etherpad.port}

    #btn-group.btn-group
      button.btn.btn-secondary(data-toggle="modal" data-target="#padModal")
        i.fa.fa-plus

    .pads(ng-repeat="x in pads")
      .item
        h3 {{ x.title }}
        p.info #[i.fa.fa-clock-o] Creada en {{ x.creation | date:"medium" }}
        p {{ x.description }}
        .btn-group.btn-group-sm(role="group")
          a.btn.btn-secondary(type="button" target="_blank"
            ng-href=`http://${config.host}:${user.etherpad.port}/p/{{x.url}}`): li.fa.fa-eye
          button.btn.btn-secondary(type="button"
            ng-click="delete(x._id, x.title)"): li.fa.fa-trash

    #padModal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit="submit()")
          .modal-header
            h5.modal-title {{ pad._id ? "Editar" : "Nuevo pad"}}
            button.close(type="button" data-dismiss="modal"): span &times;
          .modal-body
            .form-group
              input.form-control(placeholder="Ingrese un nombre para el pad"
              ng-model="pad.title" ng-change="v.idpad.change()" required)
              small.form-text.text-muted(ng-show='pad.title').
                http://#{config.host}:#{user.etherpad.port}/p/{{pad.url}}
            .form-group
              textarea.form-control(rows="3" ng-model="pad.description"
                placeholder="Ingrese una descripción del pad.")
          .modal-footer
            button.btn.btn-primary Guardar


block scripts
  script(src="/public/javascripts/pads.js")
